* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Nfont;
  font-style: normal;
  font-weight: 400;
  src: url('/public/opensans.woff2') format('woff2'),
       url('/public/opensans.woff') format('woff');
}

@font-face {
  font-family: Sfont;
  font-style: normal;
  font-weight: 400;
  src: url('/public/doand.woff2') format('woff2'),
       url('/public/doand.woff') format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

html {
  font-family: Nfont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;

  @media (min-width: 50em) {
    font-size: 16px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #909090;
  text-decoration: none;
  
  &:hover,
  &:focus {
    position: relative;
    top: 1px;
  }

  strong {
    color: inherit;
  }
}

img {
  max-width: 30%;
  margin: 0 4% 0 0;
  border-radius: 50%;
  float: left;
  -webkit-shape-outside:circle();
  shape-outside:circle();
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

span {
  display:inline-block;
}

.home-title {
  font-family: Sfont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

ul.social {
  position:relative;
  margin:0;
  padding:0;
  display:flex;
}

ul.social li.social {
  list-style: none;
}

ul.social li.social a.social {
  position: relative;
  width:30px;
  height:30px;
  display:block;
  text-align:center;
  margin:0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration:none;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
}

ul.social li.social a.social:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

ul.social li.social a.social .fa {
  widht: 100%;
  height:100%;
  display:block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(30px - 12px);
  font-size:14px;
  color: #262626;
  transition: .5s;
}

ul.social li.social:nth-child(1) a.social:hover .fa {
  color: #dd4b39;
}

ul.social li.social:nth-child(2) a.social:hover .fa {
  color: #00aced;
}

ul.social li.social:nth-child(3) a.social:hover .fa {
  color: #007bb6;
}
