* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Nfont;
  font-style: normal;
  font-weight: 400;
  src: url('/public/opensans.woff2') format('woff2'),
       url('/public/opensans.woff') format('woff');
}

@font-face {
  font-family: Sfont;
  font-style: normal;
  font-weight: 400;
  src: url('/public/doand.woff2') format('woff2'),
       url('/public/doand.woff') format('woff');
}

html,
body {
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
}

html {
  font-family: Nfont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  overflow-y: scroll;

  @media (min-width: 50em) {
    font-size: 16px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a {
  color: #909090;
  text-decoration: none;
  
  &:hover,
  &:focus {
    position: relative;
    top: 1px;
  }

  strong {
    color: inherit;
  }
}

img {
  max-width: 30%;
  margin: 0 4% 0 0;
  border-radius: 50%;
  float: right;
  //align: right;
}

span {
  display:inline-block;
}

.home-title {
  font-family: Sfont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  white-space: nowrap;
}
