.container {
  max-width: 50rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  
  small {
    padding: 0.2rem;
    background-color: #F0F0F0;
  }
  
  .floatl {
  float: left;
  }
}
