.container {
  max-width: 50rem;
  padding-left:  2.5rem;
  padding-right: 2.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
  //background-color: #F0F0F0;
  
  small {
    background-color: #F0F0F0;
  }
  
  a {
  vertical-align: middle;
  }
}
