.container {
  max-width: 50rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
  //background-color: #F0F0F0;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
  
  small {
    //display: inline-block;
    //width: 50%;
    padding: 0.2rem;
    background-color: #F0F0F0;
  }
}
