<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <header class="masthead">
      <h3 class="masthead-title">
        <span class="home-title"><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>&nbsp;&nbsp;</span>
          <span>{% for page in site.pages_list %}
          <span><small><a href="{{ page[1] }}">{{ page[0] }}</a></small>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          {% endfor %}</span>
      </h3>
      </header>
    <div class="container content">
      <main>
      {{ content }}
      </main>

      <footer>
        <small class="floatl">
          <ul>
            <li class="floatl"><a target="_blank" href="{{ site.baseurl }}/rcptch.html" title="Click to reveal my e-mail address"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li class="floatl"><a target="_blank" href="https://twitter.com/nidiatrovao" title="Click to follow me on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="floatl"><a target="_blank" href="https://www.linkedin.com/in/nidiatrovao" title="Click to see me on Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
         </ul>
        </small>
        <small style="display:block; text-align: right">{{ 'now' | date: '%Y' }}</small>
      </footer>
    </div>
  </body>
</html>
