<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
      <header class="masthead">
      <h3 class="masthead-title">
        <span class="home-title"><a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>&nbsp;&nbsp;</span>
          {% for page in site.pages_list %}
          <span><small><a href="{{ page[1] }}">{{ page[0] }}</a></small>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          {% endfor %}
      </h3>
      </header>
    <div class="container content">
      <main>
      {{ content }}
      </main>

      <footer class="footer">
        <small style="float:left">&nbsp;<a href="http://www.google.com/recaptcha/mailhide/d?k=01NqppQr6VZzJtBnX1B1RDuw==&amp;c=15YkdRwX0Emp37Odw61dyCyrGOiI_gucHoEuzZzUzks=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\x3d01NqppQr6VZzJtBnX1B1RDuw\x3d\x3d\x26c\x3d15YkdRwX0Emp37Odw61dyCyrGOiI_gucHoEuzZzUzks\x3d', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Click to reveal my e-mail address">Contact me by e-mail</a>! &bull; <a href="https://twitter.com/nidiatrovao" target="_blank">Follow me on Twitter</a>! &bull; <a href="https://www.linkedin.com/in/nidiatrovao" target="_blank">See me on Linkedin</a>!</small><small style="text-align: right; display:inline-block"><time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y&nbsp;' }}</time></small>
      </footer>
    </div>
  </body>
</html>
